<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="signin">< </ion-back-button>
      <!-- <ion-button size="large" color="primary"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bolder; font-size: 19pt;" class="ion-text-center">
      داشبورد
    </ion-title>
  </ion-toolbar>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">خانه</ion-title>
    </ion-toolbar>
  </ion-header> -->
<ion-grid >
  <ion-row style="height:10%; margin-bottom: 30px; font-size: 14pt; font-weight:lighter;" class="ion-text-center">
    <ion-col>
      <ion-label>
        برای ادامه یکی از آیتم های زیر را انتخاب کنید
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row style='margin-top: -20px;'>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#006ba6;" routerLink="/user-log" routerDirection="forward">
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#007cbf;" routerLink="/credit" routerDirection="forward">
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="wallet"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>گزارشات مالی</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#004b73;" routerLink="/favs" routerDirection="forward">
       <ion-row>
         <ion-col size="12">
<ion-label><ion-icon name="heart"></ion-icon></ion-label>
         </ion-col>
         <ion-col size="12">
          علاقه مندی ها
         </ion-col>
       </ion-row> 
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#005a8c;" routerLink="/profile" routerDirection="forward">
        <ion-row>
          <ion-col size="12">
            <ion-label> <ion-icon name="person"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پروفایل کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
  </ion-row>
  
</ion-grid>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>

  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/conditions-list">
      <ion-icon style='color:white;' name="keypad"></ion-icon>
      <ion-label color="light">داشبورد</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/tab2">
      <ion-icon style='color:white;' name="calendar"></ion-icon>
      <ion-label color="light">لیست کار</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/tab3">
      <ion-icon style='color:white;' name="home"></ion-icon>
      <ion-label color="light">خانه</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
