<ion-content>
  <!-- <ion-button (click)="dissmissModal()">
    close
  </ion-button>
  <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
  <ion-item>
    <ion-range color="danger" pin="true"></ion-range>
  </ion-item>


  <ion-row  >
    <ion-col ion-float-center size="8">
      <ion-col class="ion-text-right">
        <ion-button fill="clear">
          <ion-icon name="share-social-outline" ></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-label>
          پادکست خواب
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" class="ion-text-left">
          <ion-icon name="heart-outline" ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-col>
  </ion-row> -->



  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-text-right" size="2" >
      <ion-button size="large" fill="clear">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      {{amir.name}}
    </ion-col>
    <ion-col class="ion-text-left" size="2">
      <ion-button size="large" fill="clear">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>