<!-- <ion-header>
  <ion-toolbar>
    <ion-title>payment_res</ion-title>
  </ion-toolbar>
</ion-header> -->
<meta http-equiv="refresh" content="9;url=http://www.pesiko.ir:3001" />

<ion-content>
  <ion-card class="ion-padding">
<ion-row class="ion-text-center">
  <ion-col>
    
    <div *ngIf=(status) style="color: green;">
      <h1>پرداخت موفق</h1>
    </div>
  
  
    <div *ngIf=(!status)  style="color:red">
      <h1>پرداخت ناموفق</h1>
    </div>
  </ion-col>
</ion-row>
  <ion-row>
    <ion-col class="ion-text-center ion-padding-bottom">
      <div *ngIf=(status) style="color: green;">
        <img src="../../assets/success.svg" alt="" style="width:20%; height:15%;">
      </div>
    
    
      <div *ngIf=(!status)  style="color:red">
        <img src="../../assets/fail.svg" alt="" style="width:20%; height:15%;">
      </div>
    </ion-col>
  </ion-row>
 <ion-row class=" ion-padding-horizontal">
  <ion-col class="ion-text-center">
   <ion-label  class="fixed ion-padding-horizontal">
     شماره رهگیری : 
   </ion-label>
   <ion-label class="ion-padding-horizontal">
    {{num}}
  </ion-label>
   </ion-col>
 </ion-row>
 <ion-row class="ion-text-center ion-padding-horizontal">
   <ion-col class="ion-text-center">
    <ion-label fixed class="ion-padding-horizontal">
      شماره درگاه : 
    </ion-label>
    <ion-label class="ion-padding-horizontal">
      {{port_num}}
    </ion-label>
   </ion-col>
</ion-row>
<ion-row class="ion-text-center">
  <ion-col>
    <ion-button>
      بازگشت به صفحه اصلی
    </ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="ion-text-center ion-padding-horizontal">
    <strong>
      در حال انتقال به صفحه اول بعد از ۱۰ ثانیه 
    </strong>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <div id="countdown">
      <div id="countdown-number"></div>
      <svg>
        <circle r="18" cx="20" cy="20"></circle>
      </svg>
    </div>
  </ion-col>
</ion-row>

</ion-card>

</ion-content>
