<!-- <ion-header>
  <ion-toolbar>
    <ion-title>support</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="signin">< </ion-back-button>
      <!-- <ion-button size="large" color="primary"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
      پشتیبانی
    </ion-title>
  </ion-toolbar>

  <ion-row>
    <ion-col size="6" class ="ion-text-center"> 
      <ion-label>
        <ion-icon name="mail"></ion-icon> تاریخچه پیام ها 
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col class="ion-text-center">
      <ion-button style="border-radius: 1px; width:90%; color:black; --background:#86d9fb;" >تماس تلفنی </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-label>
      در کدام قسمت به کمک نیاز دارید ؟‌
    </ion-label>
  </ion-row>

  <ion-card color="primary">
    <ion-card-content>
      <!-- <ion-list></ion-list> -->
        <ion-list-header color="prmary">
      <h2>مشکل در جلسات مشاوره گذشته</h2>
        </ion-list-header>

        <ion-item >
          
            <ion-label>
              مبلغ مشاوره از حساب من کسر نشده است
            </ion-label>
         
          
            <ion-button  slot="end" fill="clear" class="no-margin"style="--padding-end:0px; color:white;">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
         
        </ion-item>
        <ion-item >
          <ion-label class="ion-text-right">
            زمان جلسه مشاوره من اشتباه است
          </ion-label>
          <ion-button  slot="end" fill="clear" style="--padding-end:0px; color:white;">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- </ion-list> -->
    </ion-card-content>
  </ion-card>

</ion-content>


<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>