ion-searchbar{
    border-radius:10px;
    --ion-background-color:white;
    --border-radius:2a0px;
}
ion-content{
    --ion-background-color:#f2f4ff;
}

ion-tab-bar{
    --ion-background-color:#007cbf;
}
