<!-- <ion-header>
  <ion-toolbar>
    <ion-title>favs</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="tab3"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;" class="ion-text-center">
      علاقه مندی ها
    </ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar class="ion-text-right" placeholder="جستجو کنید"></ion-searchbar>
      </ion-col>
      <ion-col class="ion-text-center" size="2">
        <ion-button style="margin-top: 10px;" fill="clear">
          <ion-icon name="apps"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="6" class="ion-text-center" >
        <app-bluebutton>
      <ion-grid>
          <ion-row >
            <ion-col><ion-icon name="heart"></ion-icon></ion-col></ion-row>
          <ion-row>
            <ion-col>
              <ion-label>
                 تومان 
             </ion-label>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col>
              <ion-label>
                میزان اعتبار کیف پول شما
              </ion-label>
            </ion-col>
          </ion-row> -->
        </ion-grid>
        </app-bluebutton>
      </ion-col>
      <ion-col class="ion-text-center" >
        <app-bluebutton>
          <ion-grid>
            <ion-row ><ion-col><ion-icon name="heart"></ion-icon></ion-col></ion-row>
            <ion-row>
              <ion-col>
                <ion-label>
                 عدد 
               </ion-label>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col>
                <ion-label>
                  میزان سکه های شما
                </ion-label>
              </ion-col>
            </ion-row> -->
          </ion-grid>
        </app-bluebutton>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>


<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>