ion-button{
    border-radius: 10px;
    height:90%;
    width:90%;
    --background-hover:black;
}

ion-content{
    --ion-background-color:#f2f4ff;
}
ion-toolbar{
    --ion-background-color:#f2f4ff;
}
toolbar-container{
    --ion-background-color:#f2f4ff;
}
ion-tab-bar{
    --ion-background-color:#007cbf;
}