<!-- <ion-header>
  <ion-toolbar>
    <ion-title>user-log</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="conditions-list">< </ion-back-button>
      <!-- <ion-button size="large" color="primary"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
      User Log
    </ion-title>
  </ion-toolbar>

<ion-grid>
  <ion-row class = "ion-text-center">
    <ion-col size="4" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class = "ion-text-center">
    <ion-col size="4" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-label >
      لیست مشاوران
    </ion-label>
  </ion-row>


  <ion-row>

    <ion-slides  [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" >
      <ion-col size="8">
        <ion-slide class="ion-margin-end" >
        
          <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
            <ion-row>
              <ion-col size="12">
                <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-label>پرونده کاربر</ion-label>
              </ion-col>
            </ion-row>
          </ion-button>
            
        </ion-slide>
      </ion-col>
      
      <ion-col size="8">
        <ion-slide class="ion-margin-end" >
        
          <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
            <ion-row>
              <ion-col size="12">
                <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-label>پرونده کاربر</ion-label>
              </ion-col>
            </ion-row>
          </ion-button>
            
        </ion-slide>
      </ion-col>
    </ion-slides>
    <!-- <ion-col size="7" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
    <ion-col size="7" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col> -->
  </ion-row>

  <ion-row>
    <ion-label >
      نتایج آزمون های انجام شده
    </ion-label>
  </ion-row>

  <ion-row class = "ion-text-center">
    <ion-col size="4" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; " color="primary" >
        <ion-row>
          <ion-col size="12">
            <ion-label><ion-icon name="document-text"></ion-icon></ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label>پرونده کاربر</ion-label>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
  </ion-row>


</ion-grid>

</ion-content>


<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>
