<ion-row style=" background-color: #c9dfeb;">
  <ion-col size="2" class="ion-text-right">
    <ion-button size="large" fill="clear">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="3" class="ion-text-right">
    <ion-label  class="vertical-align-content" >
      قسمت {{part}}
    </ion-label>
  </ion-col>
  <ion-col class="ion-text-left">
    <ion-button size="large" fill="clear">
      <ion-icon name="play"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>