<ion-row  style="border: 0 0 10px 10px; background-color: #c9dfeb;">
  <ion-col  size="2" class="ion-text-right">
    <ion-button size="large" fill="clear">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="3" class="ion-text-right">
    <ion-label  class="vertical-align-content" >
      قسمت {{part}}
    </ion-label>
  </ion-col>
  <ion-col class="ion-text-left">
    <ion-button size="large" fill="clear">
      <ion-icon name="play"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
<!-- 
<ion-card >
  <ion-grid>
    <ion-row class="ion-center-align vertical-align-component">
      <ion-col>
        
      </ion-col>
      <ion-col class="vertical-align-component" padding>
        <ion-label >
          قسمت ۱
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" >
          <ion-icon name="play-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button  fill="clear">
          <ion-icon name="pause"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button  fill="clear">
          <ion-icon name="play-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card> -->
<!-- 
<ion-label>
  im here
</ion-label> -->
