<ion-grid >
  <ion-row style="height:10%; font-size: 14pt; font-weight:lighter;" class="ion-text-center">
    <ion-col>
      <ion-label>
        برای ادامه یکی از آیتم های زیر را انتخاب کنبد
      </ion-label>
    </ion-col>
    </ion-row>
    <ion-row style="height:10%;">
      <ion-col style="margin-bottom: 30px;" class="ion-text-center">
        <ng-content></ng-content>
    </ion-col>
    </ion-row>
  <ion-row style='margin-top: -20px;'>
    <ion-col class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#006ba6;" [routerLink]="[link1]" routerDirection="forward">
        {{text1}}
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#007cbf;" [routerLink]="[link2]" routerDirection="forward">
        {{text2}}
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#004b73;" [routerLink]="[link3]" routerDirection="forward">
        {{text3}}
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#005a8c;" [routerLink]="[link4]" routerDirection="forward">
        {{text4}}
      </ion-button>
    </ion-col>
  </ion-row>
  
</ion-grid>