<ion-content class="vertical-align-content">
  <ion-grid class="ion-margin">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-card class="ion-padding">
          <ion-card-header class="ion-justify-content-center ion-text-center">
            <ion-toolbar>
              <ion-buttons slot="end">
              <ion-back-button defaultHref="signin"></ion-back-button>
            </ion-buttons>
          </ion-toolbar>
            <img src="../../assets/icon/favicon.png">
            <ion-card-title ><strong>
                ورود
              </strong></ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content class="ion-text-right ion-margin-top">
            <ion-label>ایمیل/شماره تلفن</ion-label>
            <ion-item>
              <ion-icon name="mail" style='color:#004a73'></ion-icon>
              <ion-input></ion-input>
            </ion-item>
            <ion-label>رمز عبور</ion-label>
            <ion-item>
                <ion-icon style='color:#004a73'[name]="isTextFieldType ? 'eye-off' : 'eye'" (click)="togglePasswordFieldType()">
                </ion-icon>
              <ion-input [type]="isTextFieldType ? 'text' : 'password'">
              </ion-input>
            </ion-item>
            <ion-text color="dark" [routerLink]="['/login']">
              رمز عبور خود را فراموش کرده اید؟
            </ion-text>
          </ion-card-content> -->
          <ng-content></ng-content>
        </ion-card>
        <ion-row style="margin-top:-40px;z-index: 2;" class="ion-text-center ion-no-padding">
          <ion-col class="ion-no-margin ion-nopadding">
            <ion-button color="lightBlue" (click)="confirm()" size="medium" fill="solid" shape="round">
              ورود
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text color="dark" routerLink="/signup" style="text-decoration:underline">
          <h5>ثبت نام نکرده اید؟</h5>
        </ion-text>
      </ion-col>
    </ion-row> -->

</ion-grid>
</ion-content>