<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="signin"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      درباره ما
    </ion-title>
  </ion-toolbar>
  <ion-grid >
    <ion-row>
      <ion-col>
        <ion-label style="font-weight: bold; font-size: 18pt;">
          گروه درمانی بسیکو
        </ion-label>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-label>
          <ion-icon slot="end" name="skull-outline"></ion-icon>
          تست ارزیابی مدل شخصیت
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <ion-icon slot="end" name="skull-outline"></ion-icon>
          تست ارزیابی مدل شخصیت
        </ion-label>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <!-- <ion-item lines="full">
          <ion-label>Item Lines None</ion-label>
        </ion-item> -->
        <ion-label style="font-size: 16pt;">
           تیم مشاوره و روان درمانی بسیکو متشکل از متخصصان سلامت و روان دارای صلاحیت حرفه ای و آموزشی و از کارآموختگان بهترین دانشگاه های ایران و جهان اند. 
        </ion-label>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="ion-text-center ion-no-padding ion-justify-content-end">
      <ion-col class="ion-no-margin ion-nopadding">
        <ion-button color="lightBlue" (click)="confirm()" size="medium" fill="solid" shape="round">
          ورود
        </ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>
