ion-tab-bar{
    --ion-background-color:#007cbf;
}
ion-content{
    --ion-background-color:#f2f4ff;
    height: 100%;
    width: 100%;
}
ion-grid{
    height:100%;
}
ion-button{
    height:100%;
    width:100%;
}
ion-row{
    height:25%;
}
ion-col{
    justify-content: center !important;
    align-items: center !important;
    display: flex;
}
ion-card{
    height:70%;
    width: 70%;
}