

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="/tab3"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      خودشناسی و ارتقا ذهنی
    </ion-title>
  </ion-toolbar>
  <!-- <ion-grid> -->
    <ion-row class="ion-justify-content-center">
      <!-- <ion-col class="vertical-align-content ion-text-center"> -->
        <!-- <ion-col size="6" class="ion-justify-content-center"> -->
        <!-- <app-test-card   [text]='"قسمت ۱"' [link]='"/test-page"'></app-test-card> -->
        <ion-col size="6" >
          <app-test-card style="height: 100%; width: 100%; " [text]='"قسمت ۱"' [link]='"/test-page"'></app-test-card>
      </ion-col>
      <!-- <ion-col class="vertical-align-content ion-text-center"> -->
        <ion-col size="6">
          <!-- <ion-button style="height: 60%; width: 60%;" >1</ion-button> -->
          <app-test-card style="height: 100%; width: 100%; " [text]='"قسمت ۱"' [link]='"/test-page"'></app-test-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col > 
        <app-test-card style="height: 100%; width: 100%;" [text]='"قسمت ۱"' [link]='"/signin"'></app-test-card>
      </ion-col>
      <ion-col >
        <app-test-card style="height: 100%; width: 100%;" [text]='"قسمت ۱"' [link]='"/signin"'></app-test-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="vertical-align-content ion-text-center">
        <app-test-card style="height: 100%; width: 100%; " [text]='"قسمت ۱"' [link]='"/test-page"'></app-test-card>
      </ion-col>
      <ion-col class="vertical-align-content ion-text-center">
        <app-test-card style="height: 100%; width: 100%; " [text]='"قسمت ۱"' [link]='"/test-page"'></app-test-card>
      </ion-col>
    </ion-row>
  <!-- </ion-grid -->
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="tabs/condition-list">
      <ion-icon style='color:white;' name="keypad"></ion-icon>
      <ion-label color="light">داشبورد</ion-label>
    </ion-tab-button>

    <ion-tab-button href="tabs/tab2">
      <ion-icon style='color:white;' name="calendar"></ion-icon>
      <ion-label color="light">لیست کار</ion-label>
    </ion-tab-button>

    <ion-tab-button href="tabs/tab3">
      <ion-icon style='color:white;' name="home"></ion-icon>
      <ion-label color="light">خانه</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/tabs/condition-list">
      <ion-icon style='color:white;' name="keypad"></ion-icon>
      <ion-label color="light">داشبورد</ion-label>
    </ion-tab-button>

    <ion-tab-button href="tabs/tab2">
      <ion-icon style='color:white;' name="calendar"></ion-icon>
      <ion-label color="light">لیست کار</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/tab3" routerDirection="back">
      <ion-icon style='color:white;' name="home"></ion-icon>
      <ion-label color="light">خانه</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
<!-- {
  path: 'tab3',
  loadChildren: () => import('../tab3/tab3.module').then(m => m.Tab3PageModule)
}, -->