<ion-content >
    <ion-grid >
      <ion-row class="vertical-align-content ion-margin-vertical ion-text-center">
      <ion-col class=" ion-text-center" size="10">
        <ion-item size="10">
          <!-- <ion-icon name="mail" style='color:#004a73'></ion-icon> -->
          <ion-input  placeholder="موضوع:"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row  class="vertical-align-content ion-margin-vertical ion-text-center">
      <ion-col class="ion-text-center" size="10">
        <ion-item size="10">
          <!-- <ion-icon name="mail" style='color:#004a73'></ion-icon> -->
          <ion-input placeholder="چیزی بنویسید:"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="vertical-align-content ion-margin-vertical ion-text-center">
      <ion-col>
        <ion-button (click)="confirm()" size="medium" fill="solid" shape="round">
          ارسال
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>