<!-- <ion-header>
  <ion-toolbar>
    <ion-title>time_reserve</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="signin">< </ion-back-button>
      <!-- <ion-button size="large" color="primary"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
      وقت مشاوره
    </ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-label class="ion-text-right ion-margin-start">
      لطفا در مورد موضوعی که می خواهید با مشاور مطرح کنید توضیح دهید
    </ion-label>
  </ion-row>
  <ion-row class="ion-text-center" style="justify-content: center;">
    <ion-col class="ion-text-center" size="11">
      <ion-card>
        <!-- <ion-input></ion-input> -->
        <ion-textarea  >
          <!-- <ion-col size="10"> -->
          <!-- </ion-col> -->
         </ion-textarea>
         <!-- <ion-list >
          <ion-item >
            <ion-note ></ion-note>
          </ion-item>
          <ion-item >
            <ion-note ></ion-note>
          </ion-item>
        </ion-list> -->
      </ion-card>
    </ion-col>
   
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="send()" class="ion-text-center" >
        ارسال
      </ion-button>
    </ion-col>
    
</ion-row>

</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>

