ion-button{
    color:black;
    --background:#86d9fb;
}
ion-tab-bar{
    --ion-background-color:#007cbf;
}
ion-content{
    --ion-background-color:#f2f4ff;
}
ion-card{
    --ion-background-color:#e1ecfb;
}