ion-content{
    --ion-background-color:#f2f4ff;
}

.my_class{
    text-align: right;
}
.rad{
    text-align: center;
    font-size: 10pt;
}
// #app formio .my_class {
//     text-align: left;
//   }

// #app formio .small_right {
//     font-size: 10pt;
//     text-align: center;
//     padding-left: 10px;
//   }