
<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="/tab3"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      خودشناسی و ارتقا ذهنی
    </ion-title>
  </ion-toolbar>
<!-- 
  <ion-row class="ion-padding-horizontal"> -->
    <ion-col>
      <formio  src='http://pesiko.ir:3001/form/5ff4d9abd8b1797ce65e53de/'></formio>
    </ion-col>
  <!-- </ion-row> -->

</ion-content>
