
  <!-- <ion-row>
    
    <ion-col class="ion-text-right">
      <ion-title>
        {{title}}
      </ion-title>
    </ion-col>

    <ion-col class="ion-text-left">
      <ion-button   fill="clear" style="--padding-end:0px; ">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row> -->

  <ion-row class="ion-no-padding ion-no-margin">
    <ion-col size="6" class="ion-text-right">
      <ion-title >
        <!-- <ion-label  style="text-decoration: double;"> -->
        <!-- <strong> -->
          {{type}}
        <!-- </strong> -->
      <!-- </ion-label> -->
      </ion-title>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <ion-button fill="clear"> 
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal ion-justify-content-center ion-no-margin">
    <ion-col>
      <img src="{{src}}" alt="" style="border-radius: 5%; max-height: 190px; width: 100%;">
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-vertical ion-padding-horizontal">
    <ion-label>
      <strong>
        {{title}}
      </strong>
    </ion-label>
  </ion-row>
  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-text-right">
      <ion-label>
        {{description}}
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-margin ion-padding-horizontal ion-text-left">
    <ion-col>
      <ion-label>
        <strong>
          مشاهده همه
        </strong>
      </ion-label>
    </ion-col>
  </ion-row>
  

