<ion-header>
  <ion-toolbar>
    <ion-title>reset-pass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-card>
  <!-- <div>
    <ion-label>ایمیل/شماره تلفن</ion-label>
            <ion-item style="margin-bottom:10px;">
              <ion-icon name="mail" style='color:#004a73'></ion-icon>
              <ion-input></ion-input>
  </ion-item>
  
</div> -->
  <div>
    <ion-label>رمز عبور</ion-label>
    <ion-item>
        <ion-icon style='color:#004a73'[name]="isTextFieldType ? 'eye-off' : 'eye'" (click)="togglePasswordFieldType()" >
        </ion-icon>
      <ion-input [type]="isTextFieldType ? 'text' : 'password'">
      </ion-input>
    </ion-item>
    <ion-label>رمز عبور</ion-label>
    <ion-item style="margin-bottom:10px;">
        <ion-icon style='color:#004a73'[name]="isTextFieldType ? 'eye-off' : 'eye'" (click)="togglePasswordFieldType()" >
        </ion-icon>
      <ion-input [type]="isTextFieldType ? 'text' : 'password'">
      </ion-input>
    </ion-item>
  </div>  
  
    
</app-card>
</ion-content>
