<!-- <ion-header>
  <ion-toolbar>
    <ion-title>reserve</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="therapy-gen"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 28px;">
      رزرو وقت مشاوره
    </ion-title>
  </ion-toolbar>
  <ion-grid>
  <ion-row class="ion-text-center">
    <ion-col class="ion-margin-bottom">
      برای رزرو وقت مشاوره یکی از روز ها را به دلخواه انتخاب کنید
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-right">
    <ion-col class="ion-margin-start">
      <span class="dot1"></span> Free
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-right ">
    <ion-col class="ion-margin-start">
      <span class="dot2 "></span> Reserved
    </ion-col>
  </ion-row>
  <ion-row style="height: 100%;">
    <ion-col style="height: 100%;">
      <full-calendar style="height: 100%;" #calendar [options]="calendarOptions"></full-calendar>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>
<!-- <div class="container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div> -->

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/condition-list">
      <ion-icon style='color:white;' name="keypad"></ion-icon>
      <ion-label color="light">داشبورد</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="tabs/tab2">
      <ion-icon style='color:white;' name="calendar"></ion-icon>
      <ion-label color="light">لیست کار</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="tabs/tab3">
      <ion-icon style='color:white;' name="home"></ion-icon>
      <ion-label color="light">خانه</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

<!-- <button (click)="updateHeader()" id="updateHeader">Update header</button>
<button (click)="updateEvents()" id="updateEvents">Update events</button>
<full-calendar
  *ngIf="calendarOptions"
  #fullcalendar
  [options]="calendarOptions"
></full-calendar>

<router-outlet></router-outlet> -->