.dot1 {
  height: 20px;
  width: 20px;
  background-color:#54d925;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 20px;
  width: 20px;
  background-color:#d6d7dc;
  border-radius: 50%;
  display: inline-block;
}
ion-tab-bar{
  --ion-background-color:#007cbf;
}

// h2 {
//     margin: 0;
//     font-size: 16px;
//   }
  
//   ul {
//     margin: 0;
//     padding: 0 0 0 1.5em;
//   }
  
//   li {
//     margin: 1.5em 0;
//     padding: 0;
//   }
  
//   b { /* used for event dates/times */
//     margin-right: 3px;
//   }
  
//   .demo-app {
//     display: flex;
//     min-height: 100%;
//     font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
//     font-size: 14px;
//   }
  
//   .demo-app-sidebar {
//     width: 300px;
//     line-height: 1.5;
//     background: #eaf9ff;
//     border-right: 1px solid #d3e2e8;
//   }
  
//   .demo-app-sidebar-section {
//     padding: 2em;
//   }
  
//   .demo-app-main {
//     flex-grow: 1;
//     padding: 3em;
//   }
  
//   .fc { /* the calendar root */
//     max-width: 1100px;
//     margin: 0 auto;
//   }
  

ion-content{
  --ion-background-color:#f2f4ff;
}
ion-toolbar{
  --ion-background-color:#f2f4ff;
}