<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="conditions-list">
      <ion-icon style='color:white;' name="keypad"></ion-icon>
      <ion-label color="light">داشبورد</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon style='color:white;' name="calendar"></ion-icon>
      <ion-label color="light">لیست کار</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon style='color:white;' name="home"></ion-icon>
      <ion-label color="light">خانه</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
