ion-tab-bar{
    --ion-background-color:#007cbf;
}
ion-content{
    --ion-background-color:#f2f4ff;
}
ion-toolbar{
    --ion-background-color:#f2f4ff;
}
ion-searchbar{
    --ion-background-color:white;
    --border-radius:20px;
}
