<!-- <ion-header>
  <ion-toolbar>
    <ion-title>meditation</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="tab3"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      مدیتیشن و ذهن آگاهی
    </ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col size="10">
      <ion-searchbar placeholder="جستجو کنید"></ion-searchbar>
    </ion-col>
    <ion-col class="ion-text-center" size="2">
      <ion-button style="margin-top: 10px;" fill="clear">
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row style="height:25%" class="ion-margin-vertical">
    <ion-col size="6">
      <app-podcast-button  [title]='"شحصیت شناسی"' [duration]='"30"' [link]='"/sleep-podcast"'></app-podcast-button>
    </ion-col>
    <ion-col size="6">
      <app-podcast-button [title]='"MBTI"' [link]='"/podcast-page"'></app-podcast-button>
    </ion-col>
  </ion-row>
  <ion-row style="height:25%" class="ion-margin-vertical">
    <ion-col size="6">
      <app-podcast-button [title]='"amir"'></app-podcast-button>
    </ion-col>
    <ion-col size="6">
      <app-podcast-button [title]='"amir"'></app-podcast-button>
    </ion-col>
  </ion-row>

  
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>
