<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="tab3"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;" class="ion-text-center">
      لیست کار
    </ion-title>
  </ion-toolbar>
  <!-- <app-test></app-test> -->  

  <!-- <ion-segment scrollable value="heart">
    <ion-segment-button value="home">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="star">
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="call">
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="globe">
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="basket">
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
  </ion-segment> -->
  <ion-row>
    <ion-col size="10">
      <ion-searchbar placeholder="جستجو کنید"></ion-searchbar>
    </ion-col>
    <ion-col class="ion-text-center" size="2">
      <ion-button style="margin-top: 10px;" fill="clear">
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let card of todolist" style="width: 225px; height: 250px;">
      <ion-col style="height:90%;">
        <!-- <ion-label>Card #{{ card }}</ion-label> -->
        <ion-card style="height:100%">
          <ion-title style="font-weight: bold;">
            <ion-label color="light">
              {{card.title}}
            </ion-label>
          </ion-title>
        </ion-card>
      </ion-col>
    </ion-slide>
  </ion-slides>
  <!-- <ion-button (click)="add()">
    hi
  </ion-button> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>
