ion-content{
    --ion-background-color:#f2f4ff;
}
ion-toolbar{
    --ion-background-color:#f2f4ff;
}
toolbar-container{
    --ion-background-color:#f2f4ff;
}
ion-tab-bar{
    --ion-background-color:#007cbf;
}
ion-searchbar{
    --background:white;
    --border-radius:20px;
}
ion-card{
    --background:#007cbf;
}