<!-- <ion-header [translucent]="true">
  
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="signin">< </ion-back-button>
      <!-- <ion-button size="large" color="primary"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
      خانه
    </ion-title>
  </ion-toolbar>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">خانه</ion-title>
    </ion-toolbar>
  </ion-header> -->
<ion-grid >
  <ion-row style="height:10%; margin-bottom: 30px; font-size: 14pt; font-weight:lighter;" class="ion-text-center">
    <ion-col>
      <ion-label>
        برای ادامه یکی از آیتم های زیر را انتخاب کنید
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row style='margin-top: -20px;'>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#006ba6;" routerLink="/self-con" routerDirection="forward">
        خودشناسی<br>
        و<br>
        ارتقا ذهنی
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#007cbf;" routerLink="/therapy" routerDirection="forward">
        مشاوره<br> و<br> خدمات روانشناسی
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#004b73;" routerLink="/meditation" routerDirection="forward">
        مدیتیشن<br> و<br> ذهن آگاهی
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#005a8c;" routerLink="/course" routerDirection="forward">
        دوره های<br> آموزشی 
      </ion-button>
    </ion-col>
  </ion-row>
  
</ion-grid>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>

  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/conditions-list">
      <ion-icon style='color:white;' name="keypad"></ion-icon>
      <ion-label color="light">داشبورد</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/tab2">
      <ion-icon style='color:white;' name="calendar"></ion-icon>
      <ion-label color="light">لیست کار</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/tab3">
      <ion-icon style='color:white;' name="home"></ion-icon>
      <ion-label color="light">خانه</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
