<ion-content>
  <ion-card color="primary">
    <ion-grid >
      <ion-row>
        <ion-col>
          <ion-label>
             با استفاده از مود لاگین مشاور شما بهتر می نواند روند درمان را بیگیری کند
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center">
          <ion-button color="light">1</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button color="light">1</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button color="light">1</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            در صورت تمایل از حس و حال خود بیشتر توضیح دهید
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="confirm()" color="secondary">تایید</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>