<ion-app>
  
    
        <ion-menu contentId="content1" side="end">
          <!-- <ion-row class="ion-margin-vertical">
            <ion-label><ion-icon color="light" slot="end" name="mail" ></ion-icon></ion-label>
            <ion-label (click)="moodlogin()" color="light" > ساره قاسمی</ion-label>
            <ion-buttons slot="start">
              <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
            </ion-buttons>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-button (click)="moodlogin()">
                  mood login
                </ion-button>
              </ion-item>
            </ion-col> -->
            <!-- <ion-header>
              menu
            </ion-header> -->
            <ion-content style="height:100%;">
              <ion-row>
                <ion-col class="ion-text-right" size="9">
                  <ion-label class="ion-margin-start" color="light" style="font-size: 16pt;"> <ion-icon name="person-outline"></ion-icon>ساره قاسمی</ion-label>
                </ion-col>
                <ion-col size="1" >
                  <ion-button (click)="close()" ion-button menuClose fill="clear">
                
                    <ion-icon color="light" name="close-outline"></ion-icon>
      
                </ion-button>
                </ion-col>
              </ion-row>

            <div class="ion-margin-vertical ion-margin-start">

              <ion-row>
                <ion-label color="light" (click)="moodlogin()" class="ion-margin-vertical" style="font-size: 16pt;">
                  <ion-icon name="bulb-sharp"></ion-icon>مود لاگین 
                </ion-label>
              </ion-row>
              <ion-row>
                <ion-label color="light" (click)="blog()" class="ion-margin-vertical" style="font-size: 16pt;">
                  <ion-icon name="globe-outline"></ion-icon> بلاگ 
                </ion-label>
              </ion-row>
              <ion-row>
                <ion-label color="light" (click)="aboutus()" class="ion-margin-vertical" style="font-size: 16pt;">
                  <ion-icon name="information-circle-outline"></ion-icon> درباره ما 
                </ion-label>
              </ion-row>
              <ion-row>
                <ion-label (click)="support()" color="light" class="ion-margin-vertical" style="font-size: 16pt;">
                  <ion-icon name="headset-sharp"></ion-icon> پشتیبانی 
                </ion-label>
              </ion-row>

             </div>
             

            </ion-content>

          <!-- </ion-row> -->
        <!-- <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="ion-text-center">
                amir
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>
                naeeni
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row align-self-end> 
            <ion-col>
              <ion-label>
                Exit
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid> -->
        <ion-footer class="ion-no-padding">
          <ion-toolbar class="ion-margin-start ion-text-right">
            <ion-label  (click)="exit()" color="light" class="ion-margin-vertical" style="font-size: 16pt;">
              <ion-icon name="exit-outline"></ion-icon> خروج 
            </ion-label>
            
          </ion-toolbar>
        </ion-footer>
      </ion-menu>

        <!-- <ion-icon name="person"></ion-icon>
      <ion-text>
        setare ghasemi
      </ion-text> -->
    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header> -->
    <!-- <ion-content>
      menu stuff
    </ion-content> -->
  
  

  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
