<ion-grid>

  <ion-row>
    <ion-col>
      متن سوال 
    </ion-col>
  </ion-row>
  <ion-radio-group>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-radio  class="square" value="verygood"></ion-radio>
      <!-- <ion-checkbox class="checkbox-square" ng-model="isCheckedCommercial"></ion-checkbox> -->
    </ion-col>
    <ion-col>
      <ion-radio  value="good"></ion-radio>
      <!-- <ion-checkbox class="checkbox-square" ng-model="isCheckedCommercial"></ion-checkbox> -->
    </ion-col>
    <ion-col>
      <ion-radio  value="neutral"></ion-radio>
      <!-- <ion-checkbox class="checkbox-square" ng-model="isCheckedCommercial"></ion-checkbox> -->
    </ion-col>
    <ion-col>
      <ion-radio  value="bad"></ion-radio>
    </ion-col>
    <ion-col>
      <ion-radio  value="verybad"></ion-radio>
    </ion-col>
  </ion-row>
</ion-radio-group>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-label>
        خیلی موافقم
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label>
        موافقم
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label>
        نظری ندارم
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label>
        مخالفم
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label>
        خیلی مخالفم
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>