<!-- <ion-header>
  <ion-toolbar>
    <ion-title>verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-card>
  <ion-label>ایمیل/شماره تلفن</ion-label>
  <ion-item style="margin-bottom:10px;">
    <ion-icon name="mail" style='color:#004a73'></ion-icon>
    <ion-input></ion-input>
</ion-item>
</app-card>
</ion-content> -->
<ion-content>
  <div>
    <app-podcast></app-podcast>
  </div>
  <div>
    <app-podcast></app-podcast>
  </div>
  <app-four-square></app-four-square>
</ion-content>
<!-- <ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
       <ion-label>un</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-podcast></app-podcast>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content> -->
<!-- <ion-content>
  <app-test-card></app-test-card>
<app-test-card></app-test-card>
</ion-content> -->
