
  <ion-grid style="height:100%;">
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-label>
          تست ارزیابی مدل شخصیت
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-label>
          <ion-icon slot="end" name="skull-outline"></ion-icon>
          تست ارزیابی مدل شخصیت
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-label>
          <ion-icon slot="end" name="skull-outline"></ion-icon>
          تست ارزیابی مدل شخصیت
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-right">
        <!-- <ion-item lines="full">
          <ion-label>Item Lines None</ion-label>
        </ion-item> -->
        <ion-label>
          هدف این است که به دهندگان کمک کند شخصیت خود را از جمله نقاط قوت و ضعف را بشناسد
        </ion-label>
      </ion-col>
    </ion-row>
    <!-- <ion-item-divider></ion-item-divider> -->
    <ion-row class="ion-text-center ion-no-padding ion-justify-content-end">
      <ion-col class="ion-no-margin ion-nopadding">
        <ion-button color="lightBlue" style="border-radius:5px; color:black;"  size="medium" fill="solid" >
          ورود
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
