@font-face {
    font-family: 'IRANSansWebFaNum';    
    src:url('/assets/fonts/IRANSansWebFaNum.woff2') format('woff2'),
        url('/assets/fonts/IRANSansWebFaNum.woff') format('woff'),
        url('/assets/fonts/IRANSansWebFaNum.ttf') format('ttf'),
        url('/assets/fonts/IRANSansWebFaNum.eot') format('eot');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

