<!-- <ion-header>
  <ion-toolbar>
    <ion-title>therapy-gen</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="therapy"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
      مشاوره عمومی
    </ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar class="ion-text-right" placeholder="جستجو کنید" debounce="500"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row  >
      <ion-col size="4" class="ion-text-right">
        <ion-label style="margin-bottom: -20px;">اختلالات رایج</ion-label>
      </ion-col>
      <ion-col >
        <hr>
       </ion-col>
    </ion-row>
    <ion-row >
      <!-- <ion-col size="12" style="height:100%;"> -->
        <ion-slides  [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" >
          <ion-slide class="ion-margin-end" *ngFor="let card of disorders" style="width: 150px; height: 100px; ">
            
              <ion-button routerLink="/sleep-disorder" style="height:80%; --background:#006ba6">{{card.name}}</ion-button>
              
          </ion-slide>
        </ion-slides>
      <!-- </ion-col> -->
    </ion-row>
<ion-row>
  <ion-col size="4" class="ion-text-right">
    <ion-label style="margin-bottom: -20px;">
      لیست مشاوران
    </ion-label>
  </ion-col>
  <ion-col >
    <hr>
   </ion-col>
</ion-row>

    <ion-row class="ion-margin-top ion-text-center">
      <!-- <ion-col size="12" style="height:100%;"> -->
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" >
          <ion-slide  *ngFor="let card of therapists"  style="width: 50%; height: 280px; margin-top: 20px;">
            
              <!-- <ion-button style="height:50%; --background:#006ba6">{{card.name}}</ion-button> -->
              <app-therapist-card class="vertical-align-content" style=" width: 100%; height: 280px; " [name]=[card.name]></app-therapist-card>
              <!-- {{card.name}} -->
              <!-- <ion-card color="primary">
                {{card.name}}
              </ion-card> -->
          </ion-slide>
        </ion-slides>
      <!-- </ion-col> -->
    </ion-row>
  </ion-grid>
 
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>
