ion-content{
    --ion-background-color:#f2f4ff;
}

ion-searchbar{
    --ion-background-color:white;
    --border-radius: 20px;
}
ion-tab-bar{
    --ion-background-color:#007cbf;
}
ion-avatar{
    border-radius: 50%;
    border: 3px solid #ffffff;
    height:50%;
    width: 50%;
                // background-color: #fff;
}

hr {
    display: block;
    // margin-top: 0.5em;
    // margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    // border-style: inset;
    border-width: 2px;
    background-color:#006ca6;
  }