<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="tab3"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 16pt;" class="ion-text-center">
      مشاوره و خدمات روانشناسی
    </ion-title>
  </ion-toolbar>
  <!-- <app-four-square style="font-weight: bold;" [text1]='"مشاوره"+"\n"+" عمومی"' [text2]='"General"' [text3]='"General"' [text4]='"General"' [link1]='"/therapy-gen"' [link2]='"/therapy-gen"' [link3]='"/therapy-gen"' [link4]='"/therapy-gen"'>
    <ion-button color="light" routerLink="/signin">
    تست (swap)<br>
    ارزیابی جامع روانشناختی شخصیت
    </ion-button>
  </app-four-square> -->
  <ion-row style="height:10%; font-size: 14pt; font-weight:lighter;" class="ion-text-center">
    <ion-col style="margin-bottom: 0px;" class="ion-text-center">
      <ion-label>
        برای ادامه یکی از آیتم های زیر را انتخاب کنید
      </ion-label>
    </ion-col>
    </ion-row>
    <ion-row style="height:20%;" >
      <ion-col  class="ion-text-center">
      <ion-button style="font-weight: bold;" color="light" routerLink="/signin">
      تست (swap)<br>
      ارزیابی جامع روانشناختی شخصیت
      </ion-button>
  </ion-col>
    </ion-row>
  <ion-row style='margin-top: 0px;'>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#006ba6;" routerLink="/therapy-gen" routerDirection="forward">
        مشاوره<br>
        عمومی
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#007cbf;" routerLink="/therapy" routerDirection="forward">
        مشاوره<br>
        اختلال کودکان
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#004b73;" routerLink="/meditation" routerDirection="forward">
        مشاوره<br>
        زوج درمانی
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-button style="font-weight: bold; font-size: 15pt; --background:#005a8c;" routerLink="/tabs/course" routerDirection="forward">
        مشاوره<br>
        اختلال بزرگسالان
      </ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/condition-list">
      <ion-icon style='color:white;' name="keypad"></ion-icon>
      <ion-label color="light">داشبورد</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/tab2">
      <ion-icon style='color:white;' name="calendar"></ion-icon>
      <ion-label color="light">لیست کار</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/tab3">
      <ion-icon style='color:white;' name="home"></ion-icon>
      <ion-label color="light">خانه</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
<!-- <ion-tabs>
  <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">
    <ion-tab-button routerLink="/condition-list">
      <ion-icon style='color:white;' name="keypad"></ion-icon>
      <ion-label color="light">داشبورد</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/tabs/tab2">
      <ion-icon style='color:white;' name="calendar"></ion-icon>
      <ion-label color="light">لیست کار</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/tabs/tab3">
      <ion-icon style='color:white;' name="home"></ion-icon>
      <ion-label color="light">خانه</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs> -->
