
ion-tab-bar{
    --ion-background-color:#007cbf;
}
ion-content{
    --ion-background-color:#f2f4ff;
}
ion-grid{
    height:100%;
}
ion-row{
    height:25%;
}
ion-button{
    border-radius: 10px;
    height:90%;
    width:90%;
    --background-hover:black;
}