<ion-content class="vertical-align-content">
  <ion-grid class="ion-margin">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-card class="ion-padding">
          <ion-card-header class="ion-justify-content-center ion-text-center">
            <img src="../../assets/icon/favicon.png">
            <ion-card-title class="ion-text-right" style="font-size: 18px; font-weight: bold;">
                ثبت نام
              </ion-card-title>
          </ion-card-header>
          <ion-card-content >
            <ion-label style="font-size: 16px;">آدرس ایمیل یا شماره همراه</ion-label>
            <ion-item class="ion-text-left ">
              <ion-icon  style='color:#004a73' name="mail"></ion-icon>
              <ion-input></ion-input>
            </ion-item>
            <ion-label style="font-size: 16px;">رمز عبور</ion-label>
            <ion-item class="ion-text-left">
                <ion-icon style='color:#004a73' [name]="isTextFieldType ? 'eye-off' : 'eye'" (click)="togglePasswordFieldType()">
                </ion-icon>
              <ion-input [type]="isTextFieldType ? 'text' : 'password'">
              </ion-input>
            </ion-item >
            <ion-label style="font-size: 16px;">تکرار رمز عبور</ion-label>
            <ion-item class="ion-text-left">
                <ion-icon style='color:#004a73' [name]="isTextFieldType ? 'eye-off' : 'eye'" (click)="togglePasswordFieldType()">
                </ion-icon>
              <ion-input [type]="isTextFieldType ? 'text' : 'password'">
              </ion-input>
            </ion-item>
            <ion-text color="dark" [routerLink]="['/login']">
              رمز عبور خود را فراموش کرده اید؟
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-row style="margin-top:-30px;z-index: 2;" class="ion-text-center ion-no-padding">
          <ion-col class="ion-no-margin ion-nopadding">
            <ion-button (click)="confirm()" size="medium" >
              ثبت نام
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text color="dark" routerLink="/signin" style="text-decoration:underline">
          <h5>قبلا ثبت نام کرده اید؟</h5>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>