ion-card{
    --ion-background-color:#c9dfeb;
}
    
ion-content{
    --ion-background-color:#f2f4ff;
}

ion-tab-bar{
    --ion-background-color:#007cbf;
}

video{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    // max-width: 100%;
    max-height: 100%;
    width: 100%;
    height:auto;
    max-height: 300px;
    border-radius: 5%;
    overflow: hidden;
    border:0;

    // position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; 
}

.bar {
    z-index: 2;
    width: 100%;
    text-align: center;
    transform: translate(0%,-100%);
}