<!-- <ion-header>
  <ion-toolbar>
    <ion-title>course-play</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="course"></ion-back-button>
      <!-- <ion-button size="large" color="primary"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
      شخصیت شناسی
    </ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row class="ion-padding-horizontal ion-padding-top" style="width: 100%;
    height:auto;
    max-height: 300px;">
      <!-- <style> .r1_iframe_embed { border-radius: 5%; position: relative; overflow: hidden; width: 100%; height: auto; padding-top: 56.25%; } .r1_iframe_embed iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; } </style> -->
      <!-- <div class="r1_iframe_embed"> <iframe src="https://player.arvancloud.com/index.html?config=https://mizanscene.arvanvod.com/A8LXoP4qBw/eap2aKkg95/origin_config.json" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe> </div>   -->
        <video #player onclick="this.paused?this.play():this.pause()" playsinline preload="auto">
          <source src="{{url}}" type="video/mp4"/>
        </video>
        <!-- <ion-button (click)="play()">
          play
        </ion-button> -->
        <div class="bar">
          <ion-button (click)="openFullscreen(player)" color="light" fill="clear">
            <ion-icon slot="icon-only" name="easel"></ion-icon>
          </ion-button>
        </div>
    </ion-row> 

      <!-- <ion-row>
        <ion-button href="{{first_vid.src}}"></ion-button>
      </ion-row> -->
<ion-row>
  <ion-col size="auto" class="ion-text-right ion-margin-start">
    <ion-label class="vertical-align-content">
      <strong>
      دوره آموزشی شخصیت شناسی
    </strong>
    </ion-label>
  </ion-col>
  <ion-col>
    <ion-label>
    <ion-button slot="end" fill="clear">
      <ion-icon size="large" style="transform: rotate(180deg);" name="share-social"></ion-icon>
    </ion-button>
  </ion-label>
  </ion-col>
</ion-row>
<div *ngFor="let vid of course_vid" class="ion-padding-horizontal ion-padding-top">
  <app-video-comp (click)="play(vid.src)" part={{vid.id}}></app-video-comp>
   <!-- <ion-label>
    {{vid.src}}
  </ion-label> -->
</div>



</ion-grid>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>
