<ion-header>
  <ion-toolbar>
    <ion-title>payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row >
  <ion-col class="ion-padding-horizontal">
    <ion-input  [(ngModel)]="amount" style="background-color:paleturquoise;"></ion-input>
  </ion-col>
  
</ion-row>
<ion-row >
  <ion-col class="ion-text-center">
    <ion-button (click)="func()">Pay</ion-button>
  </ion-col>
</ion-row>
<!-- <ion-button (click)="button2()">2</ion-button> -->
</ion-content>
