<!-- <ion-header>
  <ion-toolbar>
    <ion-title>music_modal</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar>
    <ion-buttons  size="large" slot="end">
      <ion-button size="large" color="primary" (click)="closeModal()">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row class="ion-padding-horizontal">
    <ion-col>
      <img src="../../assets/Eminem-3.jpeg" style="border-radius:5%; height:100%; width: 100%;">
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-text-right" size="2" >
      <ion-button size="large" fill="clear">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col >
      <ion-row >
        <ion-col class="ion-text-center ">
        <ion-label class="ion-text-center ">
          <strong>
            {{this.serv.activetrack.name}}
          </strong>
        
        </ion-label>
      </ion-col>
      </ion-row>
       <ion-row>
        <ion-col class="ion-text-center ">
          <ion-label class="ion-text-center">
        قسمت {{this.serv.activetrack.part}}
      </ion-label>
        </ion-col></ion-row>
      
    </ion-col>
    <ion-col class="ion-text-left" size="2">
      <ion-button size="large" fill="clear">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>



  <!-- <ion-row class="ion-padding-horizontal">
    <ion-range #range [(ngModel)]="this.serv.progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()"></ion-range>
  </ion-row> -->

  <ion-row class="ion-justify-content-center ion-text-center">
    <ion-col size="12" class="ion-no-padding">
      <ion-range #range [(ngModel)]="this.serv.progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()"></ion-range>
    </ion-col>
    <ion-col size="4">
      <ion-button size="large" color="primary" fill="clear">
        <ion-icon name="return-up-forward-outline"></ion-icon>
      </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-label class="vertical-align-content">
          12:34
        </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-button size="large" color="primary" fill="clear">
            <ion-icon name="return-up-back-outline"></ion-icon>
          </ion-button>
          </ion-col>
  </ion-row>


  <ion-row class="ion-justify-content-center ion-text-center">
    <ion-col size="2">
      <ion-button size="large" (click)="this.serv.prev()" color="primary" fill="clear">
        <ion-icon name="play-skip-forward"></ion-icon>
      </ion-button>
      
    </ion-col>
    <ion-col class="ion-align-self-center" size="2">
      <!-- <ion-button (click)="this.serv.togglePlayer(true)"></ion-button>
      <ion-button (click)="this.serv.togglePlayer(false)"></ion-button> -->
        <ion-button class="ion-align-self-center" color="primary" style="--border-radius:50%;" *ngIf="this.serv.state" (click)="this.serv.togglePlayer(true)" shape="circle">
          <ion-icon color="light" name="pause"></ion-icon>
        </ion-button>
        <ion-button class="ion-justify-content-center" color="primary" style="--border-radius:50%;" *ngIf="!this.serv.state" (click)="this.serv.togglePlayer(false)">
          <ion-icon color="light" name="play"></ion-icon>
        </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button  size="large" (click)="this.serv.prev()" color="primary" fill="clear">
        <ion-icon name="play-skip-back"></ion-icon>
      </ion-button>
      
    </ion-col>
  </ion-row>

  
</ion-content>
