ion-content {
    // --background: url(../../assets/background_full.jpg) no-repeat top center/cover fixed, #fff;
    --background : #f2f4ff;
    // position: relative;
}

ion-button{
    background-color:#86dafb !important;
    // margin-top:-30px;
    border-radius:5px;
    color:black;
}

ion-toolbar {
    --background: transparent;
}

ion-tab-bar{
    --ion-background-color:#007cbf;
}


ion-item{ 
    --background : #c9dfeb;
}

ion-avatar{
    height: 100%;
    width: 100%;
    // height:fit-content;
    // width: max-content;
    border-radius: 50%;
    border: 4px solid white;
    // position: absolute;
}

// ion-chip {
//     --background: #9dc912;
//     --color: #fff;
// }

// .card {
//     margin: 0 auto;

//     .header {
//         height: 200px; // 20vh;

//         .avatar {
//             width: 160px; //40vw
//             height: 160px;
//             position: relative;
//             margin: 0 auto;

//             img {
//                 display: block;
//                 border-radius: 50%;
//                 position: absolute;
//                 bottom: calc(-1*(80px + 4px)); // -42px;
//                 border: 8px solid #9Dc912;
//                 background-color: #fff;
//             }
//         }
//     }
// }

// .card-body {
//     background-color: #ffffff;
//     padding: 30px;
//     height: calc(100vh - (200px + 56px));
//     overflow: hidden;

//     .user-meta {
//         padding-top: 40px;

//         .playername {
//             font-size: 24px;
//             font-weight: 600;
//             color: #303940;
//         }

//         .country {
//             font-size: 90%;
//             color: #949ea6;
//             text-transform: uppercase;
//             margin: 0 auto;
//         }
//     }
// }