<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <ion-row>
    <ion-toolbar >
      <ion-buttons slot="end">
        <ion-back-button color="light" defaultHref="conditions-list"> </ion-back-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button color="light" autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title color="light" style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
        پروفایل
      </ion-title>
    </ion-toolbar>
    
  </ion-row>
  
    <!-- <ion-card>
      <ion-card-content>
        <ion-row >
          <ion-col>
            <ion-avatar>
              <img src="../../assets/player104.png" alt="">
            </ion-avatar>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col class="ion-text-right">
            <ion-label >اطلاعات کاربری</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">
            <ion-label >نام کاربری</ion-label>
            <ion-item>
              <ion-icon style='color:#004a73'></ion-icon>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">
            <ion-label>نام </ion-label>
            <ion-item>
              <ion-icon style='color:#004a73'></ion-icon>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">
            <ion-label>نام خانوادگی </ion-label>
            <ion-item>
              <ion-icon style='color:#004a73'></ion-icon>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-right">
            <ion-label >اطلاعات تماس</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-right">
            <ion-label >ایمیل</ion-label>
            <ion-item>
              <ion-icon style='color:#004a73'></ion-icon>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">
            <ion-label>شماره تلفن </ion-label>
            <ion-item>
              <ion-icon style='color:#004a73'></ion-icon>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">
            <ion-label>رمز عبور </ion-label>
            <ion-item>
              <ion-icon style='color:#004a73'></ion-icon>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center ion-no-padding">
          <ion-col class="ion-no-margin ion-nopadding">
            <ion-button color="lightBlue"size="medium" fill="solid">
              ورود
            </ion-button>
          </ion-col>
        </ion-row>
        
          </ion-card-content>
    </ion-card> -->
      <img src="../../assets/background_full.jpg" alt="" style="margin-top: -15%; width:100%; height:25%;">
    <ion-grid>
    <ion-row >
          <ion-col class="ion-text-center vertical-align-center" style="height: 100%; margin-top: -15%;" size="6">
            <ion-avatar class="ion-text-center" >
              <img class="ion-text-center"   src="../../assets/Eminem-3.jpeg" alt="" >
            </ion-avatar>
          </ion-col>
          <ion-col style="margin-top: 5%;" size="6" class="ion-text-center vertical-align-center">
            <ion-label>
              بارگزاری عکس <ion-icon name="add"></ion-icon>
            </ion-label>
          </ion-col>
        </ion-row>

    <ion-row>
      <ion-col class="ion-padding ion-text-right">
        <ion-label ><strong>اطلاعات کاربری</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="ion-padding-horizontal  ion-text-right">
        <ion-label >نام کاربری</ion-label>
        <ion-item >
          <ion-icon style='color:#004a73'></ion-icon>
          <ion-input ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-horizontal ion-text-right">
        <ion-label >نام </ion-label>
        <ion-item >
          <ion-icon style='color:#004a73'></ion-icon>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-horizontal ion-text-right">
        <ion-label>نام خانوادگی </ion-label>
        <ion-item>
          <ion-icon style='color:#004a73'></ion-icon>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-padding ion-text-right">
        <ion-label ><strong>اطلاعات تماس</strong></ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-padding-horizontal ion-text-right">
        <ion-label >ایمیل</ion-label>
        <ion-item>
          <ion-icon style='color:#004a73'></ion-icon>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-horizontal ion-text-right">
        <ion-label>شماره تلفن </ion-label>
        <ion-item>
          <ion-icon style='color:#004a73'></ion-icon>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-horizontal ion-text-right">
        <ion-label>رمز عبور </ion-label>
        <ion-item>
          <ion-icon style='color:#004a73'></ion-icon>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-left">
      <ion-col>
      <ion-label class="ion-padding-horizontal ion-text-left">
تغییر رمز عبور
      </ion-label>
    </ion-col>
    </ion-row>
  
    <ion-row class="ion-text-center ion-padding">
      <ion-col >
        <ion-button color="lightBlue"size="medium" fill="solid">
          ذخیره تغییرات
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>

