<!-- <ion-header>
  <ion-toolbar>
    <ion-title>blog</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <ion-toolbar >
      <ion-buttons slot="end">
        <ion-back-button color="primary" defaultHref="conditions-list"> </ion-back-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title  style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
        بلاگ
      </ion-title>
    </ion-toolbar>
    
  </ion-row>
  <ion-grid>
  <ion-row class="ion-justify-content-center">

    <ion-col size="11" class="ion-text-right">
      <ion-searchbar placeholder="جستجو کنید"></ion-searchbar>
    </ion-col>
    <!-- <ion-col class="ion-text-center" size="2">
      <ion-button style="margin-top: 10px;" fill="clear">
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-col> -->
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="1" class="vertical-center ion-text-center">
      <!-- <div style="position: absolute;top: 30%;right: 16px;font-size: 25px;z-index: 2;" > -->
        <ion-button class="ion-no-padding" fill="clear" (click)="slidePrev()"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
        
      <!-- </div> -->
    </ion-col>
    <ion-col size="9">
      <ion-slides  [options]="slideOpts" >
        <ion-slide *ngFor="let post of posts" style="max-height: 160px; ">
          <img src="{{post.src}}" alt="" style="border-radius:20px">
          <div class="my_Overlay">{{post.title }}</div>
        </ion-slide>
      </ion-slides>
    </ion-col>
    <ion-col size="1" class="vertical-center ion-text-center">
      <!-- <div style="position: absolute;top: 30%;left: 16px;font-size: 25px;z-index: 2;" > -->
        <ion-button class="ion-no-padding" fill="clear" (click)="slideNext()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      <!-- </div> -->
    </ion-col>
</ion-row>
  <div *ngFor="let post of posts">
  <ion-row>
    <ion-col>
    <app-blog-post [type]="[post.type]" [title]="[post.title]" [src]="[post.src]" [description]="[post.description]"></app-blog-post>  
  </ion-col>
    <!-- {{post.name}} -->
  </ion-row>
  <ion-row class="ion-padding-horizontal">
    <ion-col>
      <hr>
    </ion-col>
  </ion-row>
</div>
</ion-grid>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>
