<!-- <div style="height: 100%; width: 100%;"> -->
  <ion-row class="vertical-align-content">
  <ion-card class="ion-text-center" color="tertiary">
    <!-- <ion-grid> -->
      <ion-row >
        <ion-col style="margin-bottom: 15px; margin-top: 15px;">
          <ion-label>
            {{text}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <ion-button class="ion-align-self-end" [routerLink]="[link]" color="secondary">
            شروع تست
          </ion-button>
        </ion-col>
      </ion-row>
    
  </ion-card>
</ion-row>
<!-- </div> -->
 