<!-- <ion-header>
  <ion-toolbar>
    <ion-title>credit</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="conditions-list">< </ion-back-button>
      <!-- <ion-button size="large" color="primary"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
      گزارشات مالی
    </ion-title>
  </ion-toolbar>



  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="6" class="ion-text-center" >
        <app-bluebutton>
      <ion-grid>
          <ion-row >
            <ion-col><ion-icon name="wallet"></ion-icon></ion-col></ion-row>
          <ion-row>
            <ion-col>
              <ion-label>
                {{balance}} تومان 
             </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>
                میزان اعتبار کیف پول شما
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        </app-bluebutton>
      </ion-col>
      <ion-col size="6" class="ion-text-center" >
        <app-bluebutton>
          <ion-grid>
            <ion-row ><ion-col><ion-icon name="card"></ion-icon></ion-col></ion-row>
            <ion-row>
              <ion-col>
                <ion-label>
                  {{coins}} عدد 
               </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>
                  میزان سکه های شما
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </app-bluebutton>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-button style="border-radius: 1px; width:90%; color:black; --background:#86d9fb;">شارژ کیف پول</ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button style="border-radius: 1px; width:90%; color:black; --background:#86d9fb;" >خرید سکه</ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col class="ion-text-right">
        <ion-label>
          تاریخچه پرداخت های شما
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-left">
        <ion-button fill="clear"> 
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center" size="4">
        <ion-label>تاریخ</ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <ion-label>مبلغ</ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <ion-label>موضوع</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>