<ion-card class="ion-text-center vertical-align-content" (click)="navigate()">
  <ion-label color="light">
    پادکست <br>
    <ion-title>
      {{title}}<br>
    </ion-title>
    مدت زمان {{duration}} دقیقه
  </ion-label>
</ion-card>