<!-- <ion-header>
  <ion-toolbar>
    <ion-title>sleep-disorder</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="primary" defaultHref="therapy-gen">< </ion-back-button>
      <!-- <ion-button size="large" color="primary"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
      اختلال کم خوابی
    </ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-title class="ion-text-right ion-margin-vertical" style="font-weight: bold; font-size: 15pt;">
      اختلال کم خوابی
    </ion-title>
  </ion-row>
  <ion-row >
    <ion-label class="ion-text-right ion-margin-start" style="font-size: 14pt;">
      درمان کم خوابی در افراد مختلف و به تبع آن الگوهای خواب مختلف می تواند متفاوت باشد .
    </ion-label>
  </ion-row>
  <ion-row class="ion-margin-vertical">
    <ion-title class="ion-text-right" style="font-weight: bold; font-size: 15pt;">
      نشانه ها
    </ion-title>
  </ion-row>
  <ion-row>
    <ion-label class="ion-text-right ion-margin-start" style="font-size: 14pt;">
       برخی از اختلالات کم خوابی که مربوط به مشکلات فیزیولوژی است و با دارو حل می شود .  
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center ion-margin-top">
      <ion-button (click)="test_start()" class="ion-text-center" >
        شروع تست
      </ion-button>
    </ion-col>
</ion-row>
  <ion-row class="ion-margin-top">
    <ion-col size="4" class="ion-text-right">
      <ion-label style="margin-bottom: -20px;">
        لیست مشاوران
      </ion-label>
    </ion-col>
    <ion-col >
      <hr>
     </ion-col>
  </ion-row>
  
      <!-- <ion-row class="ion-margin-top ion-text-center">
        <ion-col size="12" style="height:100%;">
          <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" >
            <ion-slide  *ngFor="let card of therapists"  style="width: 50%; height: 280px; margin-top: 20px;">
              
                <ion-button style="height:50%; --background:#006ba6">{{card.name}}</ion-button>
                <app-therapist-card class="vertical-align-content" style=" width: 100%; height: 280px; " [name]=[card.name]></app-therapist-card>
                {{card.name}}
                <ion-card color="primary">
                  {{card.name}}
                </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="6">
          <app-therapist-card class="vertical-align-content" style=" width: 100%; height: 280px; " ></app-therapist-card>
        </ion-col>
        <ion-col size="6">
          <app-therapist-card class="vertical-align-content" style=" width: 100%; height: 280px; " ></app-therapist-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <app-therapist-card class="vertical-align-content" style=" width: 100%; height: 280px; " ></app-therapist-card>
        </ion-col>
        <ion-col size="6">
          <app-therapist-card class="vertical-align-content" style=" width: 100%; height: 280px; " ></app-therapist-card>
        </ion-col>
      </ion-row>
    
</ion-content>


<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/conditions-list">
    <ion-icon style='color:white;' name="keypad"></ion-icon>
    <ion-label color="light">داشبورد</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab2">
    <ion-icon style='color:white;' name="calendar"></ion-icon>
    <ion-label color="light">لیست کار</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/tab3">
    <ion-icon style='color:white;' name="home"></ion-icon>
    <ion-label color="light">خانه</ion-label>
  </ion-tab-button>
</ion-tab-bar>