hr {
    display: block;
    // margin-top: 0.5em;
    // margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    // border-style: inset;
    border-width: 2px;
    background-color:#006ca6;
  }

  ion-content{
    --ion-background-color:#f2f4ff;
}
ion-toolbar{
    --ion-background-color:#f2f4ff;
}
toolbar-container{
    --ion-background-color:#f2f4ff;
}
ion-button{
    color:black;
    --background:#86d9fb;
}
ion-tab-bar{
    --ion-background-color:#007cbf;
}