<ion-card  class="ion-text-center" style="--background:#006ba6">
  <ion-row > 
    <ion-col  size="12" class="vertical-align-content">
      <ion-avatar >
        <img  src="../../assets/player104.png" alt="">
      </ion-avatar>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col>
      <star-rating [starType]="'svg'" [rating]="4"></star-rating>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-title color="light">{{name}}</ion-title>
  </ion-row>
  
  <ion-row >
    <ion-col class="vertical-align-content">
      <ion-label class="vertical-align-content ion-text-center" color="light">
        متخصص مشاوره عمومی
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col class="vertical-align-content">
      <ion-label class="vertical-align-content ion-text-center" color="light">
        از دانشگاه شیکاگو
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <ion-button (click)="therapist_click()" class="ion-text-center" >
          تعیین وقت
        </ion-button>
      </ion-col>
      
  </ion-row>
</ion-card>