ion-card{
    width: auto;
}
ion-button{
    color:black;
    --background:#86d9fb;
}
ion-avatar{
    border-radius: 50%;
    border: 3px solid #ffffff;
    height:50%;
    width: 50%;
                // background-color: #fff;
}
